<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Request</title>
</head>
<body>
    <p>Hello,</p>
    <p>You requested a password reset for your account associated with the email: {{ email }}.</p>
    <p>Please go to the following page and choose a new password:</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">Reset Your Password</a></p>
    <p>Your username, in case you've forgotten: {{ user.get_username }}</p>
    <p>If you didn't request this password reset, please ignore this email.</p>
    <p>Thanks,</p>
    <p>The Thesis Grey Team</p>
</body>
</html> 